<!-- Horizontal Steppers -->
<div class="row">
    <button mdbBtn color="secondary" outline="true" class="waves-light" type="button"
        (click)="test.toggle(); down=!down" mdbWavesEffect>
        2FA Authentication <mdb-icon fas icon="angle-down" *ngIf="down"></mdb-icon>
        <mdb-icon fas icon="angle-up" *ngIf="!down"></mdb-icon>
    </button>

    <div mdbCollapse [isCollapsed]="true" #test="bs-collapse">
        <div class="col-md-12">

            <!-- Stepers Wrapper -->
            <ul class="stepper stepper-horizontal">

                <!-- First Step -->

                <li [class.active]="selectedIndex ==i" [class.completed]="selectedIndex > i "
                    *ngFor="let step of steps; let i=index" (click)="setIndex(i)">
                    <a>

                        <span class="circle">{{step.title}}</span>
                        <span class="label">{{step.label}}</span>
                    </a>
                </li>


            </ul>
            <!-- /.Stepers Wrapper -->




        </div>
        <form class="text-center border border-light  pt-0" [formGroup]="form">
            <ng-template [ngIf]="selectedIndex ==0">
                <input formControlName="email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4"
                    placeholder="E-mail" [class.is-invalid]="form.get('email').invalid && form.get('email').touched">

                <div *ngIf="(form.get('email').invalid && form.get('email').touched) || form.get('email').dirty">
                    <small class="text-danger" *ngIf="form.get('email').errors?.required">Email address is
                        required</small>
                    <small class="text-danger" *ngIf="form.get('email').errors?.email">Email address is invalid</small>
                </div>
            </ng-template>

            <ng-template [ngIf]="selectedIndex ==1">


                <div class="input-group mb-3">
                    <input formControlName="code" type="number" class="form-control" placeholder="Security code"
                        aria-label="Security code" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="input-group-text" id="basic-addon2" (click)="sendCode()">Send code</button>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="selectedIndex ==2">
                <div>
                    You have successfully registered
                </div>

            </ng-template>
            <button [disabled]="this.form.get('email').status == 'INVALID'" *ngIf="selectedIndex!==2" mdbBtn
                type="button" color="deep-purple" mdbWavesEffect (click)="continue()">Next</button>
            <button *ngIf="selectedIndex==2" mdbBtn type="button" color="deep-purple" mdbWavesEffect
                (click)="continue()">Finish</button>

        </form>
    </div>


</div>


<div class="row">
    <button mdbBtn color="secondary" outline="true" class="waves-light" type="button"
        (click)="log.toggle(); logArrowDown= !logArrowDown" mdbWavesEffect>
        Logs <mdb-icon fas icon="angle-down" *ngIf="logArrowDown">
        </mdb-icon>
        <mdb-icon fas icon="angle-up" *ngIf="!logArrowDown"></mdb-icon>
    </button>

    <div mdbCollapse [isCollapsed]="true" #log="bs-collapse">
        <div class="col-md-12">
            Sign in Logs
        </div>

    </div>


</div>




<!-- /.Horizontal Steppers -->