<p>User has been logged in!</p>
<div class="container">
    <div class="row">
        <div class="col-md-3 offset-1">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" [ngClass]="item=='Profile' ? 'active text-white' : ''"
                    (click)="
                    changeItem('Profile')">
                    Profile
                </a>
                <a class="list-group-item list-group-item-action"
                    [ngClass]="item=='Authentication' ? 'active text-white' : ''"
                    (click)="changeItem('Authentication')">Authentication</a>
                <a class="list-group-item list-group-item-action"
                    [ngClass]="item=='Applications' ? 'active text-white' : ''"
                    (click)="changeItem('Applications')">Applications</a>
                <a class="list-group-item list-group-item-action"
                    [ngClass]="item=='Security' ? 'active text-white' : ''"
                    (click)="changeItem('Security')">Security</a>
                <a class="list-group-item list-group-item-action"
                    [ngClass]="item=='Settings' ? 'active text-white' : ''"
                    (click)="changeItem('Settings')">Settings</a>
            </div>
        </div>

        <div class="col-md-5 offset-1">
            <ng-template [ngIf]="item=='Profile'">

                <div class="col-md-6 col-sm-12 col-lg-12 align-content-center">
                    <form class="text-center border border-light  pt-0" [formGroup]="form" (ngSubmit)="save()">

                        <p class="h4 mb-4">Edit your profile</p>

                        <div class="form-group">
                            <div class="form-row mb-4">
                                <div class="col">
                                    <!-- First name -->


                                    <input [(ngModel)]="user.firstName" formControlName="firstName" type="text"
                                        id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                                </div>

                                <div class="col">
                                    <!-- Last name -->
                                    <input [(ngModel)]="user.lastName" formControlName="lastName" type="text"
                                        id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                                </div>
                            </div>
                        </div>


                        <!-- E-mail -->
                        <input [(ngModel)]="user.email" formControlName="email" type="email"
                            id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">


                        <!-- Phone number -->
                        <input [(ngModel)]="user.phone" formControlName="phone" type="text" id="Phone"
                            class="form-control mb-4" placeholder="Phone number" aria-describedby="Phone">

                        <textarea [(ngModel)]="user.address" formControlName="address" type="text" placeholder="Address"
                            id="address" class="mb-4 md-textarea md-textarea-auto form-control" mdbInput></textarea>



                        <button mdbBtn color="red" block="" class="my-4" type="submit"
                            (click)="cancel()">Cancel</button>

                        <button mdbBtn color="info" block="" class="my-4" type="submit">Update</button>


                    </form>
                </div>

            </ng-template>
        </div>
    </div>
</div>

<input [(ngModel)]="user.name">
<!-- {{user | json}} -->